.layout {
  margin: 50px auto;
  width: 998px;
}

.sseContainer a:nth-child(n) {
  color: #007bff !important;
}

.sseContainer a:nth-child(3n) {
  color: #28a745 !important;
}

.sseContainer a:nth-child(5n) {
  color: #ffc107 !important;
}

.sseContainer a:empty {
  display: none;
}
